<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Sanitisers level indicator</title>
</head>
<body>
    <h1 style="text-align: center; margin: 60px;">Sanitisers status</h1>
    <ul>
    
    <li class="water-bottle">
        <div class="cap">
            <div class="cap-top">
            </div>
            <div class="cap-seal">
            </div>
        </div>
       <div class="bottle">
            <div class="water-low"> </div>
        </div>
        <h3>Region 1</h3>
    </li>
          <li class="water-bottle">
        <div class="cap">
            <div class="cap-top">
            </div>
            <div class="cap-seal">
            </div>
        </div>
       <div class="bottle">
            <div class="water-meduim"> </div>
        </div>
        <h3>Region 2</h3>
    </li>
    <li class="water-bottle">
        <div class="cap">
            <div class="cap-top">
            </div>
            <div class="cap-seal">
            </div>
        </div>
       <div class="bottle">
            <div class="water-empty"> </div>
        </div>
        <h3>Region 3</h3>
    </li>
      
        <li class="water-bottle">
        <div class="cap">
            <div class="cap-top">
            </div>
            <div class="cap-seal">
            </div>
        </div>
       <div class="bottle">
            <div class="water-full"> </div>
        </div>
        <h3>Region 4</h3>
    </li>
   </ul>
       
</body>​
</html>